elumiere	.body {
	background-color: #FFFFFF;
	
}

.logo{
	color: #FFFFFF;
	border: none;
	position: absolute;
	z-index: 2;
	width: 205px;
	height: 40px;
	left: 60px;
	top: 60px;
	background-image:url("../lumiere_.png");
	padding: 0px;
	line-height:normal;

}

.direccion{
	color: #000000;
	font-family: "Adobe Garamond Pro", Garamond, serif;
	font-size: 14px;
	text-align: justify;
	border: 0px;
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 20px;
	left: 100px;
	top: 125px;
	background-color: #FFFFFF;
	padding: 0px;
	line-height:1.4em;

}

.menu{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	border: 0px;
	position: absolute;
	z-index: 1;
	width: 260px;
	left: 23px;
	top: 93px;
	background-color: #FFFFFF;
	padding: 40px;
	line-height:2.6em;

}

.titulos{
	color: #000000;
	font-family: "Adobe Garamond Pro", Garamond, serif;
	font-size: 16px;
	text-align: justify;
	border: 0px;
	position: absolute;
	z-index: 1;
	width: 700px;
	left: 356px;
	top: 20px;
	background-color: #FFFFFF;
	line-height: 0.98;
	text-indent: 0em;
	height: 168px;
	padding: 18px;
}

.contenidos{
	color: #000000;
	font-family: "Adobe Garamond Pro", Garamond, serif;
	font-size: 16px;
	text-align: justify;
	border: 0px;
	position: absolute;
	z-index: 1;
	width: 800px;
	left: 356px;
	top: 241px;
	background-color: #FFFFFF;
	padding: 0px;
	line-height: 1.6em;
	text-indent: 1.5em;
	padding-right: 40px;
}

.blockquote {

margin-left: 80px;
margin-right: 80px;
}

.poema {
	line-height: 0.5em;
	margin: 1em;
	text-indent: 0px;
}

.sup {

	line-height: 0.5em;
	
}

.notas {
	
	text-indent: 1em;
	color: #000000;
	font-family: "Adobe Garamond Pro", Garamond, serif;
	font-size: 14px;
	text-align: justify;
	border: 0px;
	z-index: 1;
	width: 800px;
	left: 350px;
	top: 190px;
	background-color: #FFFFFF;
	padding: 0px;
	line-height: 1.2em;
	padding-right: 40px;
	
}
