/* Para que funcione el grid Masonry CSS (Revisar, se puede mejorar) */

*, *:before, *:after {box-sizing: border-box !important;}

:root {
    --accent-color: #3e3e3e;
    --background:   #fff5e9;
    --foreground:   #3e3e3e;
}

@font-face {
   font-family: Hyperlegible;
   src: url("AtkinsonHyperlegible-Regular.otf") format("opentype");
}

html {
  font-size: calc(20px + 0.390625vw);
  overflow-y: scroll;
  color: black;
  background-color: var(--background);
}

header {

}

body {
  font-family: 'Hyperlegible';
  line-height: 1.5em;
  margin: auto;
}

.menu {
    overflow: hidden;
/*    margin-bottom: 2.5em;*/
    max-width: auto;
    top: 0;
/*  background-color: var(--background);*/
    text-align: center;
    color: var(--foreground);
    border-bottom: 4px solid var(--foreground);
    padding-bottom: 1em;
    padding-top: 1em;
    padding: 0;
    line-height: 3em;
    display: flex;
    flex-wrap: wrap;
}

.menu a {
  padding: 0.1em;
  text-decoration: none;
  font-size: 1.05rem;
  white-space: nowrap;
  flex-grow: 1;
  min-width: 0;
}

.menu a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.menu a.seleccion.logo {
  font-weight: bolder;
  border-right: 3px solid var(--foreground);
}

.menu a.logo:hover {
}

.cuerpo {
    line-height: 1.5em;
    margin-top: 2.5em;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding: 0em 1em 0em 1em;
    box-sizing: border-box;
}

.intro {
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 0.5em;
    border-bottom: 3px solid var(--foreground);
}

h1.title {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--accent-color);
    padding: 0.3em;
    text-transform: uppercase;
}

nav#TOC {
    top: 0;
    text-align: left;
    color: var(--foreground);
    border: 3px solid var(--foreground);
    font-size: 0.95rem;
    max-width: 50%;
    float: left;
    margin: 0 1.5em 1em 0;
    padding: 0.5em 40px 0.5em 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

nav#TOC > a {
    all: unset;
    color: var(--foreground);
    text-decoration: underline;
}

p.date {
    text-align: right;
    font-weight: bold;
    padding-top: 1em;
}

hr.descripcion {
    margin: 0;
}

p.descripcion {
}

.presentacion {
    padding-bottom: 1em;
}

#logo {
    float: right;
    padding: 1em;
    margin: 0;
    max-width: 40%;
    min-width: 30%;
    max-height: 31rem;
}

#logo-izq {
    float: left;
    padding: 1em;
    margin: 0;
    max-width: 40%;
    min-width: 30%;
    max-height: 31rem;
}

p {
    text-align: left;
}

figure {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-bottom: 2em;
    text-align: center;
}

a {
  color:var(--accent-color);
}

a:hover {
    background-color: var(--foreground);
    color: var(--background);
}

a:active {
}

a:focus {
  outline: dotted black;
}

a:hover,
a:active {
  outline: 0;
}

h1.title::-moz-selection {
  background: var(--background);
  color: var(--accent-color);
}

h1.title::selection {
  background: var(--background);
  color: var(--accent-color);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--background);
}

::selection {
  background: var(--accent-color);
  color: var(--background);
}

a::-moz-selection {
  background: var(--accent-color);
  color: var(--background);
}

a::selection {
  background: var(--accent-color);
  color: var(--background);
}

h1 {
    font-size: 2rem;
    margin-top: 2.5rem;
    text-align:center;
    line-height: 1rem;
}

h2, h3, h5, h6 {
    margin-top: 2em;
}

code {
}

pre {
    margin-top: 50px;
    border-left: 2px solid black;
    margin-bottom: 50px;   
    padding: 10px 15px;
    word-wrap: break-word;
    overflow: auto;
    border-left: 2px solid black;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    clear: both;
    border-top: 3px solid var(--foreground); 
}

ul {

}

.footnotes p {
    margin: 0.5em;
}

footer {
    max-width: auto;
    bottom: 0;
    text-align: center;
    color: var(--foreground);
    border-top: 4px solid var(--foreground);
    padding: 0;
    line-height: 3em;
}

.pie {
    overflow: hidden;
/*    margin-bottom: 2.5em;*/
    max-width: auto;
    bottom: 0;
/*  background-color: var(--background);*/
    text-align: center;
    color: var(--foreground);
    padding-bottom: 1em;
    padding-top: 1em;
    padding: 0;
    line-height: 3em;
    display: flex;
    flex-wrap: wrap;
}

.pie a {
  padding: 0.1em;
  text-decoration: none;
  font-size: 1.05rem;
  white-space: nowrap;
  flex-grow: 1;
  min-width: 0;
}

.pie a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.pie a.seleccion.acerca {
  font-weight: bolder;
  border-right: 3px solid var(--foreground);
}

.botonera {
    column-width: 10em;
	column-gap: 0.5em;

}

.botonera p {
    margin: 0;
}

a.boton {
    display: inline-block;
	margin:  0.25rem;
	padding:  1rem;
	width:  100%; 
	border: 4px dashed var(--foreground);
    text-decoration: none;
    text-align: center;
}

a.articulo {
    text-align: left;
}

.acercade {
    border:0;
    padding:0;
}

/* NOTAS AL PIE DE PÁGINA */

a.footnote-ref {
    text-decoration: none;
    font-weight: bold;
}

a.footnote-back {
    text-decoration: none;
    margin-left: 0.5em;
}

sup { 
    line-height: 1em;
    font-size: 0.75rem; 
    padding: 0.20em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

th, td {
  border: 2px dashed var(--foreground);
  padding: 0.5em;
}

thead {
  background-color: #00000021;
  text-transform: uppercase;
}

/* ANIMACIÓN GRANO */

.fotograma {
  position: relative;
  overflow: hidden;
}

.fotograma::after {
  content:"";
  position: absolute;
  width:200vw;
  height: 200vh;
  left: -50%;
  top: -50%;
  opacity:0.1;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png);
  background-position: top left;
  animation:grano 1.5s steps(10) infinite;
}
@keyframes grano {
  50% {background-position: center;}
}

/* ESTILOS POR DEFECTO DE PANDOC
    Puede que sean prescindibles */

    span.smallcaps{font-variant: small-caps;}
    span.underline{text-decoration: underline;}
    div.column{display: inline-block; vertical-align: top; width: 50%;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}
    .display.math{display: block; text-align: center; margin: 0.5rem auto;}

/* RESOLUCIONES DE TELÉFONO:
    Al final de la hoja de estilo.*/

@media only screen and (max-width: 665px) {

    .menu a.logo {
      border-bottom: 3px solid var(--foreground);
    }

    
    
    img#logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        max-width: 100%;

    }
    
    p.descripcion {
        clear: both;
    }
    
    nav#TOC {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        max-width: fit-content;
    }
    
/*    .presentacion {
        display: flex;
        flex-direction: column-reverse;
    }*/

}

